@charset "UTF-8";

/* ==================================================
    02. Frame
================================================== */

/* --------------------------------------------------
    02-01. Structure
-------------------------------------------------- */
.str-inner {
  margin: 90px auto 0;
  max-width: $cont-width-max;
  width: 100%;

  @media #{$media-sp} {
    padding: 0 $cont-padding-sp;
  }

  @media #{$media-pc} {
    padding: 0 $cont-padding-pc;
  }

  * > &:first-child {
    margin-top: 0;
  }
}

/* 02-01-01. Header
--------------------------------------------- */
// #str-header {
// }

/* 02-01-02. Navigation
--------------------------------------------- */
// #header-global-nav {
// }

/* 02-01-03. Main
--------------------------------------------- */
// #str-main {
// }

#main-header {
  background-image: linear-gradient(110deg, $main-color-01, $main-color-02);
  color: #fff;
}

#main-header-01 {
  align-items: center;
  display: flex;
  min-height: 500px;
  padding: 20px 0;
}

#main-header-hdg {
  font-family: $heading-font-family;
  font-weight: 500;

  @media #{$media-sp} {
    font-size: 8rem;
  }

  @media #{$media-pc} {
    font-size: 10rem;
  }
}

/* 02-01-03. Footer
--------------------------------------------- */
// #str-footer {
// }

/* --------------------------------------------------
    02-02. Area
-------------------------------------------------- */

/* --------------------------------------------------
    02-03. Section
-------------------------------------------------- */
