@charset "UTF-8";

/* ==================================================
  02. Frame
================================================== */

/* --------------------------------------------------
  02-01. Structure
-------------------------------------------------- */
.str-inner {
  margin: 90px auto 0;
  width: 100%;

  @media #{$media-sp} {
    max-width: $cont-width-max $cont-padding-sp * 2;
    padding: 0 $cont-padding-sp;
  }

  @media #{$media-pc} {
    max-width: $cont-width-max + $cont-padding-pc * 2;
    padding: 0 $cont-padding-pc;
  }

  * > &:first-child {
    margin-top: 0;
  }
}

/* 02-01-01. Header
--------------------------------------------- */
#str-header {
  position: fixed;
  // z-index 「04. Z-Index」参照

  @media #{$media-sp} {
    display: inline-block;
    height: 56px;
    padding: 0;
    right: $cont-padding-sp;
    top: $cont-padding-sp;
    width: 56px;
  }

  @media #{$media-pc} {
    height: 100%;
    padding: 10vh 0 25vh;
    right: 0;
    top: 0;
    width: 100px;
  }

  &.is-open {

    @media #{$media-sp} {
      height: 100%;
      right: 0;
      top: 0;
      width: auto;
    }
  }
}

#spmenu-btn {

  @media #{$media-sp} {
    background-color: rgba(#fff, 0.8);
    border-radius: 50%;
    height: 56px;
    position: fixed;
    right: $cont-padding-sp;
    top: $cont-padding-sp;
    transition: 0.3s;
    width: 56px;
    z-index: 1;

    &:hover {
      opacity: 1;
    }

    &::before,
    &::after {
      background-color: $main-color-01;
      content: "";
      display: block;
      height: 2px;
      left: 12px;
      position: absolute;
      width: 32px;
    }

    &::before {
      top: 14px;
    }

    &::after {
      bottom: 14px;
    }
  }

  @media #{$media-pc} {
    display: none;
  }

  &[aria-expanded=true] {
    transform: rotate(360deg);

    &::before {
      top: 8px;
      transform: translateY(20px) rotate(-45deg);
    }

    &::after {
      bottom: 26px;
      transform: translateY(0) rotate(45deg);
    }
  }
}

#spmenu-btn-inner {
  background-color: $main-color-01;
  display: block;
  height: 2px;
  left: 12px;
  overflow: hidden;
  position: absolute;
  top: 27px;
  transition: 0.3s;
  width: 32px;

  [aria-expanded=true] & {
    opacity: 0;
  }
}

.spmenu-focus-control {
  display: block;
  position: absolute;
}

/* 02-01-02. Navigation
--------------------------------------------- */
#global-nav {
  height: 100%;

  @media #{$media-sp} {
    background-color: rgba($main-color-01, 0.9);
    padding: 100px 40px 0;
    transform: translateX(100%);
    visibility: hidden;

    &.is-slidein {
      animation: SlideIn ease-out 0.3s;
    }

    &.is-slideout {
      animation: SlideIn ease-out 0.3s reverse;
    }
  }

  .is-open & {
    transform: translateX(0);
    visibility: visible;
  }

  // .is-open & {

  //   @media #{$media-sp} {
  //     // transform: translateX(0);
  //     visibility: visible;
  //   }
  // }
}

#global-nav-list {
  height: 100%;
  list-style: none;
  padding-left: 0;
  position: relative;

  @media #{$media-sp} {
    font-size: 1.8rem;
    margin-top: 0;
  }

  @media #{$media-pc} {
    align-content: space-between;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: space-between;
  }

  &::before {

    @media #{$media-pc} {
      background-color: $main-color-01;
      content: "";
      display: block;
      height: 100%;
      left: 50%;
      position: absolute;
      top: 0;
      width: 1px;
      z-index: -1;
    }
  }

  > li {
    margin-top: 0;

    a {
      color: #fff;

      @media #{$media-pc} {
        align-items: center;
        background-color: $main-color-01;
        border-radius: 50%;
        display: flex;
        height: 5em;
        justify-content: center;
        margin: 0 auto;
        width: 5em;
      }

      &:hover {
        background-color: #92c0f1;
        opacity: 1;
      }
    }
  }
}

/* 02-01-03. Main
--------------------------------------------- */
#str-main {
  padding-bottom: 100px;
}

#main-header {
  background-image: linear-gradient(110deg, $main-color-01, $main-color-02);
  color: #fff;
}

#main-header-01 {
  align-items: center;
  display: flex;
  min-height: 500px;
  padding: 20px 0;
}

#main-header-hdg {
  font-family: $heading-font-family;
  font-weight: 500;

  @media #{$media-sp} {
    font-size: 8rem;
  }

  @media #{$media-pc} {
    font-size: 10rem;
  }
}

/* 02-01-03. Footer
--------------------------------------------- */
#str-footer {
  align-items: flex-end;
  background-color: $main-color-01;
  border-radius: 50%;
  bottom: 37px;
  color: #fff;
  display: flex;
  font-size: 1.4rem;
  height: 4em;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 4em;

  @media #{$media-sp} {
    bottom: $cont-padding-sp;
    right: $cont-padding-sp;
  }

  @media #{$media-pc} {
    bottom: 37px;
    margin-right: -2em;
    right: 50px;
  }

  .js-enabled & {
    opacity: 0;

    &.is-fadein {
      animation: FadeIn ease-out 0.3s;
    }

    &.is-show {
      opacity: 1;

      &:hover {
        opacity: 0.5;
      }
    }

    &.is-fadeout {
      animation: FadeIn ease-out 0.3s reverse;
    }
  }
}

#btn-to-top {
  color: #fff;

  &::after {
    background: url('/img/icon_arrow.svg') 0 0 no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 14px;
    left: calc(50% - 12px);
    position: absolute;
    top: 0.7em;
    width: 24px;
  }
}
