@charset "UTF-8";

/* ==================================================
    03. Modules
================================================== */

/* --------------------------------------------------
    Heading
-------------------------------------------------- */

/* .mod-hdg-l2
--------------------------------------------- */
.mod-hdg-l2 {
  text-align: center;
}

.hdg-02-inner {
  background: linear-gradient(20deg, $main-color-01, $main-color-02);
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 5rem;

  &::before,
  &::after {
    color: rgba(#fff, 0.3);
    content: '●●●';
    font-size: 0.7em;
  }
}

/* --------------------------------------------------
    List
-------------------------------------------------- */

/* .mod-list-history
--------------------------------------------- */
$list-history-ttl-fs: 2.8rem;

.mod-list-history {
  list-style: none;
  margin-left: 30px;
  padding-left: 0;
  position: relative;

  &::before {
    border-left: 5px dotted rgba($main-color-01, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: $list-history-ttl-fs;
    width: 30px;
  }

  > li {
    margin-top: 50px;
    padding-left: 50px;
    position: relative;

    &::before {
      background-color: $main-color-01;
      border-radius: 50%;
      content: '';
      height: 15px;
      left: 0;
      margin-left: -5px;
      position: absolute;
      top: calc(#{$list-history-ttl-fs} - 7px);
      width: 15px;
    }
  }
}

.list-history-ttl {
  color: $main-color-01;
  display: block;
  font-size: $list-history-ttl-fs;
}

.list-history-cont {
  display: flex;
  margin-top: 20px;
}

.list-history-img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;
}


/* --------------------------------------------------
    Layout
-------------------------------------------------- */

/* .mod-lyt-skill
--------------------------------------------- */
.mod-lyt-skill {
  height: 1000px;
  position: relative;
}

.lyt-skill-list-01 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-01-item {
  background-color: rgba($main-color-01, 0.3);
  // border: rgba($main-color-01, 0.3) 5px solid;
  border-radius: 50%;
  padding-bottom: 40%;
  padding-left: 0;
  position: absolute;
  width: 40%;

  &._frontend {
    left: 30%;
    top: 0;
  }

  &._design {
    left: 0;
    top: 50%;
  }

  &._backend {
    right: 0;
    top: 50%;
  }
}

.lyt-skill-list-02 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-02-item {
  align-items: center;
  background-color: #fff;
  // background-image: linear-gradient(110deg, $main-color-01, $main-color-02);
  // background-color: rgba($main-color-01, 0.3);
  border: 5px solid $main-color-01;
  border-radius: 50%;
  // position: relative;
  color: $main-color-01;
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  height: 7em;
  justify-content: center;
  line-height: 1.3;
  padding-left: 0;
  text-align: center;
  width: 7em;
}

// .lyt-skill-list-02-item-inner {
//   display: flex;
//   height: 100%;
//   position: absolute;
//   text-align: center;
//   width: 100%;
// }
