@charset "UTF-8";

/* ==================================================
    03. Modules
================================================== */

/* --------------------------------------------------
    Heading
-------------------------------------------------- */

/* .mod-hdg-l2
--------------------------------------------- */
.mod-hdg-l2 {
  font-family: $heading-font-family;
  font-weight: 500;
  margin-top: 60px;
  text-align: center;

  + * {
    margin-top: 30px;
  }
}

.hdg-02-inner {
  background: linear-gradient(20deg, $main-color-01, $main-color-02);
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 8rem;

  &::before,
  &::after {
    color: rgba(#fff, 0.3);
    content: '●●●';
    font-size: 0.7em;
  }
}

/* --------------------------------------------------
    List
-------------------------------------------------- */

/* .mod-list-history
--------------------------------------------- */
$list-history-ttl-fs: 2.8rem;

.mod-list-history {
  list-style: none;
  padding-left: 0;
  position: relative;

  @media #{$media-sp} {
    margin-left: 15px;
  }

  @media #{$media-pc} {
    margin-left: 30px;
  }

  &::before {
    border-left: 5px dotted rgba($main-color-01, 0.5);
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: $list-history-ttl-fs;
    width: 30px;
  }

  > li {
    margin-top: 50px;
    padding-left: 50px;
    position: relative;

    @media #{$media-sp} {
      padding-left: 25px;
    }

    @media #{$media-pc} {
      padding-left: 50px;
    }

    &::before {
      background-color: $main-color-01;
      border-radius: 50%;
      content: '';
      height: 15px;
      left: 0;
      margin-left: -5px;
      position: absolute;
      top: calc(#{$list-history-ttl-fs} - 7px);
      width: 15px;
    }
  }
}

.list-history-ttl {
  color: $main-color-01;
  display: block;
  font-size: $list-history-ttl-fs;
}

.list-history-cont {
  margin-top: 20px;

  @media #{$media-pc} {
    display: flex;
  }
}

.list-history-img {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  width: 200px;

  @media #{$media-sp} {
    display: block;
    margin: 0 auto;
    transform: translateX(-25px);
  }
}

.list-history-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media #{$media-sp} {
    margin-top: 10px;
  }

  @media #{$media-pc} {
    margin-left: 30px;
  }

  > *:first-child {
    margin-top: 0;
  }
}

/* --------------------------------------------------
    Layout
-------------------------------------------------- */

/* .mod-lyt-profile
--------------------------------------------- */
.mod-lyt-profile {
  min-height: 280px;
  padding-left: 330px;
  position: relative;
}

.lyt-profile-ttl {
  font-size: 2rem;
}

.lyt-profile-img {
  border-radius: 50%;
  height: 280px;
  left: 0;
  position: absolute;
  top: 0;
  width: 280px;
}

.lyt-profile-list-01 {
  list-style: none;
  padding-left: 0;
}

.lyt-profile-list-02 {
  display: flex;
  list-style: none;
  margin-left: -15px;
  padding-left: 0;

  > li {
    height: 50px;
    margin-left: 15px;
    width: 50px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

/* .mod-lyt-skill
--------------------------------------------- */
$mod-lyt-skill-max-width: 910px;

/**
 * 最大値からwv値を返す
 * @param {number} $value - 要素の最大px値（単位なし）
 * @return {string} - vw値
 */
@function return-mod-lyt-skill-vw ($value) {
  @return $value / return-num($mod-lyt-skill-max-width + $cont-padding-pc * 2) * 100vw;
}

$lyt-skill-list-02-item-base-font-size-wide: 1.4rem; // 画面幅1200pxの時のデフォルトフォントサイズ
// $lyt-skill-list-02-item-base-font-size: return-num($lyt-skill-list-02-item-base-font-size-wide) * 10 / return-num($mod-lyt-skill-max-width) * 100vw; // 14pxをベースに画面幅に合わせて可変
$lyt-skill-list-02-item-base-font-size: return-mod-lyt-skill-vw(return-num($lyt-skill-list-02-item-base-font-size-wide * 10)); // 14pxをベースに画面幅に合わせて可変
$lyt-skill-list-02-item-size: 7em;
$media-mod-lyt-skill-max: '(min-width: #{$break-point-01 + 1px}) and (max-width: #{910px + $cont-padding-pc * 2})'; // ブレイクポイント ～ モジュール最大幅
$media-mod-lyt-skill-wide: '(min-width: #{$mod-lyt-skill-max-width + $cont-padding-pc * 2 + 1px})'; // モジュール最大幅以上

.mod-lyt-skill {
  height: 916px;
  margin: 0 auto;
  max-width: $mod-lyt-skill-max-width;
  position: relative;

  @media #{$media-mod-lyt-skill-max} {
    height: return-mod-lyt-skill-vw(916);
  }
}

.lyt-skill-list-01 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-01-item {
  background-color: rgba($main-color-01, 0.3);
  border-radius: 50%;
  margin-top: 0;
  padding-left: 0;
  position: absolute;

  &._frontend {
    left: 0;
    top: 0;

    @media #{$media-mod-lyt-skill-max} {
      height: return-mod-lyt-skill-vw(580);
      width: return-mod-lyt-skill-vw(580);
    }

    @media #{$media-mod-lyt-skill-wide} {
      height: 580px;
      left: 0;
      width: 580px;
    }
  }

  &._backend {
    right: 0;
    top: 160px;

    @media #{$media-mod-lyt-skill-max} {
      height: return-mod-lyt-skill-vw(430);
      left: return-mod-lyt-skill-vw(479);
      top: return-mod-lyt-skill-vw(90);
      width: return-mod-lyt-skill-vw(430);
    }

    @media #{$media-mod-lyt-skill-wide} {
      // right: 90px;
      height: 430px;
      left: 479px;
      top: 90px;
      width: 430px;
    }
  }

  &._design {
    left: 0;

    @media #{$media-mod-lyt-skill-max} {
      height: return-mod-lyt-skill-vw(450);
      left: return-mod-lyt-skill-vw(18);
      top: return-mod-lyt-skill-vw(450);
      width: return-mod-lyt-skill-vw(450);
    }

    @media #{$media-mod-lyt-skill-wide} {
      height: 450px;
      left: 18px;
      top: 450px;
      width: 450px;
    }
  }

  &._others {
    right: 0;

    @media #{$media-mod-lyt-skill-max} {
      height: return-mod-lyt-skill-vw(390);
      left: return-mod-lyt-skill-vw(473);
      top: return-mod-lyt-skill-vw(526);
      width: return-mod-lyt-skill-vw(390);
    }

    @media #{$media-mod-lyt-skill-wide} {
      height: 390px;
      left: 473px;
      top: 526px;
      width: 390px;
    }
  }
}

.lyt-skill-list-02 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-02-item {
  align-items: center;
  background-color: #fff;
  border: 5px solid $main-color-01;
  border-radius: 50%;
  color: $main-color-01;
  display: flex;
  font-size: $lyt-skill-list-02-item-base-font-size;
  font-weight: bold;
  height: $lyt-skill-list-02-item-size;
  justify-content: center;
  line-height: 1;
  padding-left: 0;
  position: absolute;
  text-align: center;
  text-shadow:
    2px  2px 1px #fff,
    -2px  2px 1px #fff,
    2px -2px 1px #fff,
    -2px -2px 1px #fff,
    2px  0 1px #fff,
    0  2px 1px #fff,
    -2px  0 1px #fff,
    0 -2px 1px #fff;
  width: $lyt-skill-list-02-item-size;

  @media #{$media-mod-lyt-skill-wide} {
    font-size: $lyt-skill-list-02-item-base-font-size-wide;
  }

  &._level01 {
    height: $lyt-skill-list-02-item-size * 0.8;
    width: $lyt-skill-list-02-item-size * 0.8;
  }

  &._level02 {
    // background-color: #8be4f0;
    // background-image: linear-gradient(#fff 50%, transparent 50%, transparent 100%);

    @media #{$media-mod-lyt-skill-max} {
      font-size: $lyt-skill-list-02-item-base-font-size * 1.1;
    }

    @media #{$media-mod-lyt-skill-wide} {
      font-size: $lyt-skill-list-02-item-base-font-size-wide * 1.1;
    }
  }

  &._level03 {
    // background-color: #fff;
    // background-image:
    //   linear-gradient(-90deg, rgba($main-color-01, 0.3) 50%, transparent 50%),
    //   linear-gradient(rgba($main-color-01, 0.3) 50%, transparent 50%);
    // background-size: 20px 20px;

    @media #{$media-mod-lyt-skill-max} {
      font-size: $lyt-skill-list-02-item-base-font-size * 1.5;
    }

    @media #{$media-mod-lyt-skill-wide} {
      font-size: $lyt-skill-list-02-item-base-font-size-wide * 1.5;
    }
  }

  &._level04 {
    // background-image:
    //   repeating-linear-gradient(
    //     -45deg,
    //     rgba($main-color-01, 0.3),
    //     rgba($main-color-01, 0.3) 3px,
    //     transparent 0,
    //     transparent 14px
    //   );

    @media #{$media-mod-lyt-skill-max} {
      font-size: $lyt-skill-list-02-item-base-font-size * 1.9;
    }

    @media #{$media-mod-lyt-skill-wide} {
      font-size: $lyt-skill-list-02-item-base-font-size-wide * 1.9;
    }
  }

  &._level05 {
    // background-image:
    //   radial-gradient(rgba($main-color-01, 0.3) 10%, transparent 10%),
    //   radial-gradient(rgba($main-color-01, 0.3) 10%, transparent 10%);
    // background-position: 0 0, 20px 20px;
    // background-size: 40px 40px;

    @media #{$media-mod-lyt-skill-max} {
      font-size: $lyt-skill-list-02-item-base-font-size * 2.2;
    }

    @media #{$media-mod-lyt-skill-wide} {
      font-size: $lyt-skill-list-02-item-base-font-size-wide * 2.2;
    }
  }

  &._html {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(54);
      top: return-mod-lyt-skill-vw(55);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 54px;
      top: 55px;
    }
  }

  &._css {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(283);
      top: return-mod-lyt-skill-vw(64);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 283px;
      top: 64px;
    }
  }

  &._js {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(36);
      top: return-mod-lyt-skill-vw(277);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 36px;
      top: 277px;
    }
  }

  &._react {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(232);
      top: return-mod-lyt-skill-vw(278);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 232px;
      top: 278px;
    }
  }

  &._a11y {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(160);
      top: return-mod-lyt-skill-vw(423);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 160px;
      top: 423px;
    }
  }

  &._gulp {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(325);
      top: return-mod-lyt-skill-vw(322);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 325px;
      top: 322px;
    }
  }

  &._git {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(459);
      top: return-mod-lyt-skill-vw(235);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 459px;
      top: 235px;
    }
  }

  &._php {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(590);
      top: return-mod-lyt-skill-vw(127);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 590px;
      top: 127px;
    }
  }

  &._mysql {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(759);
      top: return-mod-lyt-skill-vw(175);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 759px;
      top: 175px;
    }
  }

  &._phpmyadmin {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(759);
      top: return-mod-lyt-skill-vw(295);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 759px;
      top: 295px;
    }
  }

  &._composer {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(627);
      top: return-mod-lyt-skill-vw(293);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 627px;
      top: 293px;
    }
  }

  &._docker {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(610);
      top: return-mod-lyt-skill-vw(420);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 610px;
      top: 420px;
    }
  }

  &._ps {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(50);
      top: return-mod-lyt-skill-vw(617);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 50px;
      top: 617px;
    }
  }

  &._ai {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(251);
      top: return-mod-lyt-skill-vw(617);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 251px;
      top: 617px;
    }
  }

  &._management {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(477);
      top: return-mod-lyt-skill-vw(617);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 477px;
      top: 617px;
    }
  }

  &._improvement {
    @media #{$media-mod-lyt-skill-max} {
      left: return-mod-lyt-skill-vw(669);
      top: return-mod-lyt-skill-vw(617);
    }

    @media #{$media-mod-lyt-skill-wide} {
      left: 669px;
      top: 617px;
    }
  }
}
