@charset "UTF-8";

/* ==================================================
    03. Modules
================================================== */

/* --------------------------------------------------
    Heading
-------------------------------------------------- */
.mod-hdg-l2 {
  text-align: center;
}

.hdg-02-inner {
  background: linear-gradient(20deg, $main-color-01, $main-color-02);
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 5rem;

  &::before,
  &::after {
    color: rgba(#fff, 0.3);
    content: '●●●';
    font-size: 0.7em;
  }
}
