@charset "UTF-8";

/* ==================================================
*   01. Base
*       01-01. Reset
*       01-02. Default
*       01-03. Keyframes
*   02. Frame
*       02-01. Structure
*           02-01-01. Header
*           02-01-02. Navigation
*           02-01-03. Main
*           02-01-04. Footer
*   03. Modules
*       03-01. Common
*       03-02. Unique
*       03-03. Support
*   04. Z-Index
*================================================== */

/**
 * 値から数値を返す（10px => 10）
 * @param {string} $value - 「数値＋単位」文字列
 * @return {number} - 単位を削除した数値
 * @link https://www.nxworld.net/sass-number-operations-and-functions.html
 */

/* ==================================================
  01. Base
================================================== */

/* --------------------------------------------------
  01-01. Reset
-------------------------------------------------- */
html {
  font-family: sans-serif;
  overflow-y: scroll;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
}

a {
  border-width: 0;
  text-decoration: none;
}

img {
  border-width: 0;
}

address {
  font-style: normal;
  text-decoration: none;
}

/* --------------------------------------------------
  01-02. Default
-------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 2.2;
  overflow-wrap: break-word;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

@media (min-width: 769px) {
  body {
    font-size: 1.8rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}

header,
footer,
main,
nav,
section,
article,
aside,
figure {
  display: block;
}

iframe {
  border-width: 0;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.4;
}

* > h1:first-child,
* > h2:first-child,
* > h3:first-child,
* > h4:first-child,
* > h5:first-child,
* > h6:first-child {
  margin-top: 0;
}

li,
dt,
dd {
  margin-top: 3px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

th > *:first-child,
td > *:first-child {
  margin-top: 0;
}

pre {
  white-space: pre-wrap;
}

a[href],
button {
  color: #0080e2;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

a[href] img,
button img {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

a[href]:hover,
button:hover {
  opacity: 0.5;
  text-decoration: none;
}

a[href]:hover img,
button:hover img {
  opacity: 0.5;
}

strong {
  font-weight: bold;
}

em,
b {
  font-style: normal;
  font-weight: 600;
}

img,
video {
  max-width: 100%;
}

input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

input[type='submit']:hover {
  opacity: 0.5;
}

button {
  border-width: 0;
  cursor: pointer;
  font-size: inherit;
}

button[disabled] {
  cursor: default;
}

/* --------------------------------------------------
    01-03. Keyframes
-------------------------------------------------- */

@-webkit-keyframes SlideIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes SlideIn {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/* ==================================================
  02. Frame
================================================== */

/* --------------------------------------------------
  02-01. Structure
-------------------------------------------------- */
.str-inner {
  margin: 90px auto 0;
  width: 100%;
}

@media (max-width: 768px) {
  .str-inner {
    max-width: 1220px;
    padding: 0 10px;
  }
}

@media (min-width: 769px) {
  .str-inner {
    max-width: 1420px;
    padding: 0 110px;
  }
}

* > .str-inner:first-child {
  margin-top: 0;
}

/* 02-01-01. Header
--------------------------------------------- */
#str-header {
  position: fixed;
}

@media (max-width: 768px) {
  #str-header {
    display: inline-block;
    height: 56px;
    padding: 0;
    right: 10px;
    top: 10px;
    width: 56px;
  }
}

@media (min-width: 769px) {
  #str-header {
    height: 100%;
    padding: 10vh 0 25vh;
    right: 0;
    top: 0;
    width: 100px;
  }
}

@media (max-width: 768px) {
  #str-header.is-open {
    height: 100%;
    right: 0;
    top: 0;
    width: auto;
  }
}

@media (max-width: 768px) {
  #spmenu-btn {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    height: 56px;
    position: fixed;
    right: 10px;
    top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    width: 56px;
    z-index: 1;
  }

  #spmenu-btn:hover {
    opacity: 1;
  }

  #spmenu-btn::before,
  #spmenu-btn::after {
    background-color: #0080e2;
    content: "";
    display: block;
    height: 2px;
    left: 12px;
    position: absolute;
    width: 32px;
  }

  #spmenu-btn::before {
    top: 14px;
  }

  #spmenu-btn::after {
    bottom: 14px;
  }
}

@media (min-width: 769px) {
  #spmenu-btn {
    display: none;
  }
}

#spmenu-btn[aria-expanded=true] {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

#spmenu-btn[aria-expanded=true]::before {
  top: 8px;
  -webkit-transform: translateY(20px) rotate(-45deg);
  transform: translateY(20px) rotate(-45deg);
}

#spmenu-btn[aria-expanded=true]::after {
  bottom: 26px;
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}

#spmenu-btn-inner {
  background-color: #0080e2;
  display: block;
  height: 2px;
  left: 12px;
  overflow: hidden;
  position: absolute;
  top: 27px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 32px;
}

[aria-expanded=true] #spmenu-btn-inner {
  opacity: 0;
}

.spmenu-focus-control {
  display: block;
  position: absolute;
}

/* 02-01-02. Navigation
--------------------------------------------- */
#global-nav {
  height: 100%;
}

@media (max-width: 768px) {
  #global-nav {
    background-color: rgba(0, 128, 226, 0.9);
    padding: 100px 40px 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    visibility: hidden;
  }

  #global-nav.is-slidein {
    -webkit-animation: SlideIn ease-out 0.3s;
    animation: SlideIn ease-out 0.3s;
  }

  #global-nav.is-slideout {
    animation: SlideIn ease-out 0.3s reverse;
  }
}

.is-open #global-nav {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  visibility: visible;
}

#global-nav-list {
  height: 100%;
  list-style: none;
  padding-left: 0;
  position: relative;
}

@media (max-width: 768px) {
  #global-nav-list {
    font-size: 1.8rem;
    margin-top: 0;
  }
}

@media (min-width: 769px) {
  #global-nav-list {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 769px) {
  #global-nav-list::before {
    background-color: #0080e2;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    width: 1px;
    z-index: -1;
  }
}

#global-nav-list > li {
  margin-top: 0;
}

#global-nav-list > li a {
  color: #fff;
}

@media (min-width: 769px) {
  #global-nav-list > li a {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #0080e2;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 5em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    width: 5em;
  }
}

#global-nav-list > li a:hover {
  background-color: #92c0f1;
  opacity: 1;
}

/* 02-01-03. Main
--------------------------------------------- */
#str-main {
  padding-bottom: 100px;
}

#main-header {
  background-image: linear-gradient(110deg, #0080e2, #0ce5ff);
  color: #fff;
}

#main-header-01 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding: 20px 0;
}

#main-header-hdg {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
}

@media (max-width: 768px) {
  #main-header-hdg {
    font-size: 8rem;
  }
}

@media (min-width: 769px) {
  #main-header-hdg {
    font-size: 10rem;
  }
}

/* 02-01-03. Footer
--------------------------------------------- */
#str-footer {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background-color: #0080e2;
  border-radius: 50%;
  bottom: 37px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  height: 4em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  width: 4em;
}

@media (max-width: 768px) {
  #str-footer {
    bottom: 10px;
    right: 10px;
  }
}

@media (min-width: 769px) {
  #str-footer {
    bottom: 37px;
    margin-right: -2em;
    right: 50px;
  }
}

.js-enabled #str-footer {
  opacity: 0;
}

.js-enabled #str-footer.is-fadein {
  -webkit-animation: FadeIn ease-out 0.3s;
  animation: FadeIn ease-out 0.3s;
}

.js-enabled #str-footer.is-show {
  opacity: 1;
}

.js-enabled #str-footer.is-show:hover {
  opacity: 0.5;
}

.js-enabled #str-footer.is-fadeout {
  animation: FadeIn ease-out 0.3s reverse;
}

#btn-to-top {
  color: #fff;
}

#btn-to-top::after {
  background: url("/img/icon_arrow.svg") 0 0 no-repeat;
  background-size: contain;
  content: '';
  display: block;
  height: 14px;
  left: calc(50% - 12px);
  position: absolute;
  top: 0.7em;
  width: 24px;
}

/* ==================================================
  03. Modules
================================================== */

/* --------------------------------------------------
  03-01. Common
-------------------------------------------------- */

/* .mod-icon-blank
--------------------------------------------- */
.mod-icon-blank {
  margin: 0 5px;
  width: 13px;
}

/* .mod-hdg-l2
--------------------------------------------- */
.mod-hdg-l2 {
  font-family: "Baloo 2", sans-serif;
  font-weight: 500;
  margin-top: 60px;
  outline: none;
  text-align: center;
}

@media (max-width: 768px) {
  .mod-hdg-l2 {
    font-size: 6rem;
  }
}

@media (min-width: 769px) {
  .mod-hdg-l2 {
    font-size: 8rem;
  }
}

.mod-hdg-l2 + * {
  margin-top: 30px;
}

.hdg-02-inner {
  background: linear-gradient(20deg, #0080e2, #0ce5ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}

/* .mod-hdg-l3
--------------------------------------------- */
.mod-hdg-l3 {
  color: #0080e2;
  margin-top: 40px;
  padding-left: 1.2em;
  position: relative;
}

@media (max-width: 768px) {
  .mod-hdg-l3 {
    font-size: 2.2rem;
  }
}

@media (min-width: 769px) {
  .mod-hdg-l3 {
    font-size: 2.8rem;
  }
}

.mod-hdg-l3::before {
  background: linear-gradient(20deg, #0080e2, #0ce5ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  content: '●●';
  display: block;
  font-size: 0.5em;
  left: 0;
  line-height: 1.4;
  position: absolute;
}

@media (max-width: 768px) {
  .mod-hdg-l3::before {
    top: 0.99rem;
  }
}

@media (min-width: 769px) {
  .mod-hdg-l3::before {
    top: 1.26rem;
  }
}

.mod-hdg-l3 + * {
  margin-top: 30px;
}

a[href^='#'] {
  color: #f00;
}

/* .mod-hdg-l4
--------------------------------------------- */
.mod-hdg-l4 {
  color: #0080e2;
}

@media (max-width: 768px) {
  .mod-hdg-l4 {
    font-size: 1.8rem;
  }
}

@media (min-width: 769px) {
  .mod-hdg-l4 {
    font-size: 2rem;
  }
}

/* --------------------------------------------------
  03-02. Unique
-------------------------------------------------- */

/* Profile
--------------------------------------------- */
#profile-layout {
  min-height: 280px;
  position: relative;
}

@media (min-width: 769px) {
  #profile-layout {
    padding-left: 330px;
  }
}

#profile-layout-ttl {
  font-size: 2rem;
}

@media (max-width: 768px) {
  #profile-layout-ttl {
    display: block;
  }
}

#profile-layout-img {
  border-radius: 50%;
  height: 280px;
  width: 280px;
}

@media (max-width: 768px) {
  #profile-layout-img {
    display: block;
    margin: 0 auto;
  }
}

@media (min-width: 769px) {
  #profile-layout-img {
    left: 0;
    position: absolute;
    top: 0;
  }
}

#profile-layout-list-01 {
  list-style: none;
  padding-left: 0;
}

#profile-layout-list-02 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-left: -15px;
  padding-left: 0;
}

#profile-layout-list-02 > li {
  height: 50px;
  margin-left: 15px;
  width: 50px;
}

#profile-layout-list-02 > li img {
  height: 100%;
  width: 100%;
}

/* Skill
--------------------------------------------- */

/**
 * 最大値から割合を返す
 * @param {number} $value - 要素の最大px値（単位なし）
 * @param {string} $media - pc or sp
 * @return {string} - 割合の計算式 calc(...)
 */
#skill-layout {
  height: 916px;
  margin: 0 auto;
  max-width: 910px;
  position: relative;
}

@media (max-width: 768px) {
  #skill-layout {
    height: calc((100vw - 20px) * (1.00659));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  #skill-layout {
    height: calc((100vw - 220px) * (1.00659));
  }
}

#skill-layout-list-01 {
  list-style: none;
  padding-left: 0;
}

.skill-layout-list-01-item {
  background-color: rgba(12, 229, 255, 0.5);
  border-radius: 50%;
  color: #0080e2;
  font-weight: bold;
  margin-top: 0;
  padding-left: 0;
  position: absolute;
}

@media (max-width: 768px) {
  .skill-layout-list-01-item {
    font-size: calc((100vw - 20px) * (0.02857));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-01-item {
    font-size: calc((100vw - 220px) * (0.02857));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-01-item {
    font-size: 2.6rem;
  }
}

.skill-layout-list-01-item._frontend {
  left: 0;
  top: 0;
}

@media (max-width: 768px) {
  .skill-layout-list-01-item._frontend {
    height: calc((100vw - 20px) * (0.63736));
    padding-top: calc((100vw - 20px) * (0.01099));
    width: calc((100vw - 20px) * (0.63736));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-01-item._frontend {
    height: calc((100vw - 220px) * (0.63736));
    padding-top: calc((100vw - 220px) * (0.01099));
    width: calc((100vw - 220px) * (0.63736));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-01-item._frontend {
    height: 580px;
    padding-top: 10px;
    width: 580px;
  }
}

.skill-layout-list-01-item._backend {
  text-align: right;
}

@media (max-width: 768px) {
  .skill-layout-list-01-item._backend {
    height: calc((100vw - 20px) * (0.47253));
    left: calc((100vw - 20px) * (0.52637));
    padding-top: calc((100vw - 20px) * (0.02198));
    top: calc((100vw - 20px) * (0.0989));
    width: calc((100vw - 20px) * (0.47253));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-01-item._backend {
    height: calc((100vw - 220px) * (0.47253));
    left: calc((100vw - 220px) * (0.52637));
    padding-top: calc((100vw - 220px) * (0.02198));
    top: calc((100vw - 220px) * (0.0989));
    width: calc((100vw - 220px) * (0.47253));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-01-item._backend {
    height: 430px;
    left: 479px;
    padding-top: 20px;
    top: 90px;
    width: 430px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-01-item._design {
    height: calc((100vw - 20px) * (0.49451));
    left: calc((100vw - 20px) * (0.01978));
    padding-top: calc((100vw - 20px) * (0.08791));
    top: calc((100vw - 20px) * (0.49451));
    width: calc((100vw - 20px) * (0.49451));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-01-item._design {
    height: calc((100vw - 220px) * (0.49451));
    left: calc((100vw - 220px) * (0.01978));
    padding-top: calc((100vw - 220px) * (0.08791));
    top: calc((100vw - 220px) * (0.49451));
    width: calc((100vw - 220px) * (0.49451));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-01-item._design {
    height: 450px;
    left: 18px;
    padding-top: 80px;
    top: 450px;
    width: 450px;
  }
}

.skill-layout-list-01-item._others {
  text-align: right;
}

@media (max-width: 768px) {
  .skill-layout-list-01-item._others {
    height: calc((100vw - 20px) * (0.42857));
    left: calc((100vw - 20px) * (0.51978));
    padding-top: calc((100vw - 20px) * (0.02198));
    top: calc((100vw - 20px) * (0.57802));
    width: calc((100vw - 20px) * (0.42857));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-01-item._others {
    height: calc((100vw - 220px) * (0.42857));
    left: calc((100vw - 220px) * (0.51978));
    padding-top: calc((100vw - 220px) * (0.02198));
    top: calc((100vw - 220px) * (0.57802));
    width: calc((100vw - 220px) * (0.42857));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-01-item._others {
    height: 390px;
    left: 473px;
    padding-top: 20px;
    top: 526px;
    width: 390px;
  }
}

.skill-layout-list-01-item-inner {
  border-bottom: 2px solid #0ce5ff;
}

#skill-layout-list-02 {
  list-style: none;
  padding-left: 0;
}

.skill-layout-list-02-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 5px solid #0080e2;
  border-radius: 50%;
  color: #0080e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  height: 7em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  padding-left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  width: 7em;
}

@media (max-width: 768px) {
  .skill-layout-list-02-item {
    font-size: calc((100vw - 20px) * (0.01538));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item {
    font-size: calc((100vw - 220px) * (0.01538));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item {
    font-size: 1.4rem;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._html {
    left: calc((100vw - 20px) * (0.05934));
    top: calc((100vw - 20px) * (0.06044));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._html {
    left: calc((100vw - 220px) * (0.05934));
    top: calc((100vw - 220px) * (0.06044));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._html {
    left: 54px;
    top: 55px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._css {
    left: calc((100vw - 20px) * (0.31099));
    top: calc((100vw - 20px) * (0.07033));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._css {
    left: calc((100vw - 220px) * (0.31099));
    top: calc((100vw - 220px) * (0.07033));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._css {
    left: 283px;
    top: 64px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._js {
    left: calc((100vw - 20px) * (0.03956));
    top: calc((100vw - 20px) * (0.3044));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._js {
    left: calc((100vw - 220px) * (0.03956));
    top: calc((100vw - 220px) * (0.3044));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._js {
    left: 36px;
    top: 277px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._react {
    left: calc((100vw - 20px) * (0.25495));
    top: calc((100vw - 20px) * (0.30549));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._react {
    left: calc((100vw - 220px) * (0.25495));
    top: calc((100vw - 220px) * (0.30549));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._react {
    left: 232px;
    top: 278px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._a11y {
    left: calc((100vw - 20px) * (0.17582));
    top: calc((100vw - 20px) * (0.46484));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._a11y {
    left: calc((100vw - 220px) * (0.17582));
    top: calc((100vw - 220px) * (0.46484));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._a11y {
    left: 160px;
    top: 423px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._gulp {
    left: calc((100vw - 20px) * (0.35714));
    top: calc((100vw - 20px) * (0.35385));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._gulp {
    left: calc((100vw - 220px) * (0.35714));
    top: calc((100vw - 220px) * (0.35385));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._gulp {
    left: 325px;
    top: 322px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._git {
    left: calc((100vw - 20px) * (0.5044));
    top: calc((100vw - 20px) * (0.25824));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._git {
    left: calc((100vw - 220px) * (0.5044));
    top: calc((100vw - 220px) * (0.25824));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._git {
    left: 459px;
    top: 235px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._php {
    left: calc((100vw - 20px) * (0.64835));
    top: calc((100vw - 20px) * (0.13956));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._php {
    left: calc((100vw - 220px) * (0.64835));
    top: calc((100vw - 220px) * (0.13956));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._php {
    left: 590px;
    top: 127px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._mysql {
    left: calc((100vw - 20px) * (0.83407));
    top: calc((100vw - 20px) * (0.19231));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._mysql {
    left: calc((100vw - 220px) * (0.83407));
    top: calc((100vw - 220px) * (0.19231));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._mysql {
    left: 759px;
    top: 175px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._phpmyadmin {
    left: calc((100vw - 20px) * (0.83407));
    top: calc((100vw - 20px) * (0.32418));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._phpmyadmin {
    left: calc((100vw - 220px) * (0.83407));
    top: calc((100vw - 220px) * (0.32418));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._phpmyadmin {
    left: 759px;
    top: 295px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._composer {
    left: calc((100vw - 20px) * (0.68901));
    top: calc((100vw - 20px) * (0.32198));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._composer {
    left: calc((100vw - 220px) * (0.68901));
    top: calc((100vw - 220px) * (0.32198));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._composer {
    left: 627px;
    top: 293px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._docker {
    left: calc((100vw - 20px) * (0.67033));
    top: calc((100vw - 20px) * (0.46154));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._docker {
    left: calc((100vw - 220px) * (0.67033));
    top: calc((100vw - 220px) * (0.46154));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._docker {
    left: 610px;
    top: 420px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._ps {
    left: calc((100vw - 20px) * (0.05495));
    top: calc((100vw - 20px) * (0.67802));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._ps {
    left: calc((100vw - 220px) * (0.05495));
    top: calc((100vw - 220px) * (0.67802));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._ps {
    left: 50px;
    top: 617px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._ai {
    left: calc((100vw - 20px) * (0.27582));
    top: calc((100vw - 20px) * (0.67802));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._ai {
    left: calc((100vw - 220px) * (0.27582));
    top: calc((100vw - 220px) * (0.67802));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._ai {
    left: 251px;
    top: 617px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._management {
    left: calc((100vw - 20px) * (0.52418));
    top: calc((100vw - 20px) * (0.67802));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._management {
    left: calc((100vw - 220px) * (0.52418));
    top: calc((100vw - 220px) * (0.67802));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._management {
    left: 477px;
    top: 617px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item._improvement {
    left: calc((100vw - 20px) * (0.73516));
    top: calc((100vw - 20px) * (0.67802));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item._improvement {
    left: calc((100vw - 220px) * (0.73516));
    top: calc((100vw - 220px) * (0.67802));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item._improvement {
    left: 669px;
    top: 617px;
  }
}

.skill-layout-list-02-item[aria-labelledby*=aria-skill-l1] {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 40%, transparent 40%), radial-gradient(rgba(0, 128, 226, 0.3) 40%, transparent 40%);
  height: 5.6em;
  width: 5.6em;
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l1] {
    background-position: 0 0, calc((100vw - 20px) * (0.03297)) calc((100vw - 20px) * (0.03297));
    background-size: calc((100vw - 20px) * (0.06593)) calc((100vw - 20px) * (0.06593));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l1] {
    background-position: 0 0, calc((100vw - 220px) * (0.03297)) calc((100vw - 220px) * (0.03297));
    background-size: calc((100vw - 220px) * (0.06593)) calc((100vw - 220px) * (0.06593));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l1] {
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l1] {
    white-space: nowrap;
  }
}

.skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 20%, transparent 20%), radial-gradient(rgba(0, 128, 226, 0.3) 20%, transparent 20%);
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    background-position: 0 0, calc((100vw - 20px) * (0.0044)) calc((100vw - 20px) * (0.0044));
    background-size: calc((100vw - 20px) * (0.01978)) calc((100vw - 20px) * (0.01978));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    background-position: 0 0, calc((100vw - 220px) * (0.0044)) calc((100vw - 220px) * (0.0044));
    background-size: calc((100vw - 220px) * (0.01978)) calc((100vw - 220px) * (0.01978));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    background-position: 0 0, 4px 4px;
    background-size: 18px 18px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    font-size: calc(calc((100vw - 20px) * (0.01538)) * 1.1);
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    font-size: calc(calc((100vw - 220px) * (0.01538)) * 1.1);
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l2] {
    font-size: 1.54rem;
  }
}

.skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 15%, transparent 15%), radial-gradient(rgba(0, 128, 226, 0.3) 30%, transparent 30%);
  background-position: 0 0, calc((100vw - 220px) * (0.01319)) calc((100vw - 220px) * (0.01319));
  background-size: calc((100vw - 220px) * (0.02637)) calc((100vw - 220px) * (0.02637));
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    background-position: 0 0, calc((100vw - 20px) * (0.01319)) calc((100vw - 20px) * (0.01319));
    background-size: calc((100vw - 20px) * (0.02637)) calc((100vw - 20px) * (0.02637));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    background-position: 0 0, calc((100vw - 220px) * (0.01319)) calc((100vw - 220px) * (0.01319));
    background-size: calc((100vw - 220px) * (0.02637)) calc((100vw - 220px) * (0.02637));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    font-size: calc(calc((100vw - 20px) * (0.01538)) * 1.5);
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    font-size: calc(calc((100vw - 220px) * (0.01538)) * 1.5);
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l3] {
    font-size: 2.1rem;
  }
}

.skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 13%, transparent 13%), radial-gradient(rgba(0, 128, 226, 0.3) 13%, transparent 13%);
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    background-position: 0 0, calc((100vw - 20px) * (0.00989)) calc((100vw - 20px) * (0.00989));
    background-size: calc((100vw - 20px) * (0.01978)) calc((100vw - 20px) * (0.01978));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    background-position: 0 0, calc((100vw - 220px) * (0.00989)) calc((100vw - 220px) * (0.00989));
    background-size: calc((100vw - 220px) * (0.01978)) calc((100vw - 220px) * (0.01978));
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    font-size: calc(calc((100vw - 20px) * (0.01538)) * 1.9);
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    font-size: calc(calc((100vw - 220px) * (0.01538)) * 1.9);
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l4] {
    font-size: 2.66rem;
  }
}

@media (max-width: 768px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l5] {
    font-size: calc(calc((100vw - 20px) * (0.01538)) * 2.2);
    margin-top: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l5] {
    font-size: calc(calc((100vw - 220px) * (0.01538)) * 2.2);
  }
}

@media (min-width: 1131px) {
  .skill-layout-list-02-item[aria-labelledby*=aria-skill-l5] {
    font-size: 3.08rem;
  }
}

#skill-list-legend {
  border: 1px solid #0ce5ff;
  border-radius: 100px;
  margin-top: 30px;
  padding: 10px;
}

@media (max-width: 768px) {
  #skill-list-legend {
    margin-top: 15px;
  }
}

#skill-list-legend + * {
  margin-top: 80px;
}

@media (max-width: 768px) {
  #skill-list-legend + * {
    margin-top: 40px;
  }
}

#skill-list-legend-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.4rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.4;
  list-style: none;
  margin: -5px 0 0 -30px;
  padding-left: 0;
}

@media (max-width: 768px) {
  #skill-list-legend-inner {
    font-size: 1.2rem;
  }
}

#skill-list-legend-inner > li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 0 30px;
}

@media (max-width: 768px) {
  #skill-list-legend-inner > li {
    margin: 15px 0 0 15px;
  }
}

#skill-list-legend-inner > li::before {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #0080e2;
  border-radius: 50%;
  color: #0080e2;
  content: '';
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
  padding-left: 0;
  width: 50px;
}

@media (max-width: 768px) {
  #skill-list-legend-inner > li::before {
    border-width: 3px;
    height: 30px;
    width: 30px;
  }
}

#aria-skill-l1::before {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 40%, transparent 40%), radial-gradient(rgba(0, 128, 226, 0.3) 40%, transparent 40%);
}

@media (max-width: 768px) {
  #aria-skill-l1::before {
    background-position: 0 0, calc((100vw - 20px) * (0.03297)) calc((100vw - 20px) * (0.03297));
    background-size: calc((100vw - 20px) * (0.06593)) calc((100vw - 20px) * (0.06593));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  #aria-skill-l1::before {
    background-position: 0 0, calc((100vw - 220px) * (0.03297)) calc((100vw - 220px) * (0.03297));
    background-size: calc((100vw - 220px) * (0.06593)) calc((100vw - 220px) * (0.06593));
  }
}

@media (min-width: 1131px) {
  #aria-skill-l1::before {
    background-position: 0 0, 30px 30px;
    background-size: 60px 60px;
  }
}

#aria-skill-l2::before {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 20%, transparent 20%), radial-gradient(rgba(0, 128, 226, 0.3) 20%, transparent 20%);
}

@media (max-width: 768px) {
  #aria-skill-l2::before {
    background-position: 0 0, calc((100vw - 20px) * (0.0044)) calc((100vw - 20px) * (0.0044));
    background-size: calc((100vw - 20px) * (0.01978)) calc((100vw - 20px) * (0.01978));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  #aria-skill-l2::before {
    background-position: 0 0, calc((100vw - 220px) * (0.0044)) calc((100vw - 220px) * (0.0044));
    background-size: calc((100vw - 220px) * (0.01978)) calc((100vw - 220px) * (0.01978));
  }
}

@media (min-width: 1131px) {
  #aria-skill-l2::before {
    background-position: 0 0, 4px 4px;
    background-size: 18px 18px;
  }
}

#aria-skill-l3::before {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 15%, transparent 15%), radial-gradient(rgba(0, 128, 226, 0.3) 30%, transparent 30%);
  background-position: 0 0, calc((100vw - 220px) * (0.01319)) calc((100vw - 220px) * (0.01319));
  background-size: calc((100vw - 220px) * (0.02637)) calc((100vw - 220px) * (0.02637));
}

@media (max-width: 768px) {
  #aria-skill-l3::before {
    background-position: 0 0, calc((100vw - 20px) * (0.01319)) calc((100vw - 20px) * (0.01319));
    background-size: calc((100vw - 20px) * (0.02637)) calc((100vw - 20px) * (0.02637));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  #aria-skill-l3::before {
    background-position: 0 0, calc((100vw - 220px) * (0.01319)) calc((100vw - 220px) * (0.01319));
    background-size: calc((100vw - 220px) * (0.02637)) calc((100vw - 220px) * (0.02637));
  }
}

@media (min-width: 1131px) {
  #aria-skill-l3::before {
    background-position: 0 0, 12px 12px;
    background-size: 24px 24px;
  }
}

#aria-skill-l4::before {
  background-image: radial-gradient(rgba(0, 128, 226, 0.3) 13%, transparent 13%), radial-gradient(rgba(0, 128, 226, 0.3) 13%, transparent 13%);
}

@media (max-width: 768px) {
  #aria-skill-l4::before {
    background-position: 0 0, calc((100vw - 20px) * (0.00989)) calc((100vw - 20px) * (0.00989));
    background-size: calc((100vw - 20px) * (0.01978)) calc((100vw - 20px) * (0.01978));
  }
}

@media (min-width: 769px) and (max-width: 1130px) {
  #aria-skill-l4::before {
    background-position: 0 0, calc((100vw - 220px) * (0.00989)) calc((100vw - 220px) * (0.00989));
    background-size: calc((100vw - 220px) * (0.01978)) calc((100vw - 220px) * (0.01978));
  }
}

@media (min-width: 1131px) {
  #aria-skill-l4::before {
    background-position: 0 0, 9px 9px;
    background-size: 18px 18px;
  }
}

/* History
--------------------------------------------- */
#history-list {
  list-style: none;
  padding-left: 0;
  position: relative;
}

@media (max-width: 768px) {
  #history-list {
    margin: 0 15px;
  }
}

#history-list::before {
  background-image: radial-gradient(rgba(0, 128, 226, 0.5) 40%, transparent 40%);
  background-size: 10px 10px;
  content: '';
  height: 100%;
  left: 0;
  margin-left: -3px;
  position: absolute;
  width: 10px;
}

@media (max-width: 768px) {
  #history-list::before {
    top: 2rem;
  }
}

@media (min-width: 769px) {
  #history-list::before {
    top: 2.8rem;
  }
}

#history-list > li {
  margin-top: 50px;
  padding-left: 50px;
  position: relative;
}

@media (max-width: 768px) {
  #history-list > li {
    padding-left: 25px;
  }
}

@media (min-width: 769px) {
  #history-list > li {
    padding-left: 50px;
  }
}

#history-list > li::before {
  background-color: #0080e2;
  border-radius: 50%;
  content: '';
  height: 15px;
  left: 0;
  margin-left: -5px;
  position: absolute;
  width: 15px;
}

@media (max-width: 768px) {
  #history-list > li::before {
    top: calc(1.4rem - 7px);
  }
}

@media (min-width: 769px) {
  #history-list > li::before {
    top: calc(1.96rem - 7px);
  }
}

.history-list-ttl {
  color: #0080e2;
  font-size: 2.8rem;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .history-list-ttl-year {
    display: block;
    font-size: 2rem;
  }
}

@media (min-width: 769px) {
  .history-list-ttl-year + .history-list-ttl-event {
    margin-left: 1em;
  }
}

.history-list-ttl-event {
  color: #0080e2;
  font-size: 2.8rem;
}

@media (max-width: 768px) {
  .history-list-ttl-event {
    display: block;
  }
}

.history-list-cont {
  margin-top: 20px;
}

@media (min-width: 769px) {
  .history-list-cont {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.history-list-img {
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
}

@media (max-width: 768px) {
  .history-list-img {
    display: block;
    margin: 0 auto;
  }
}

.history-list-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .history-list-txt {
    margin-top: 10px;
  }
}

@media (min-width: 769px) {
  .history-list-txt {
    margin-left: 30px;
  }
}

.history-list-txt > *:first-child {
  margin-top: 0;
}

/* --------------------------------------------------
    Layout
-------------------------------------------------- */

/* --------------------------------------------------
    Support
-------------------------------------------------- */

@media (min-width: 769px) {
  .pc-disable {
    display: none;
  }
}

/* ==================================================
  04. Z-Index
================================================== */
#str-header {
  z-index: 1;
}

#str-footer {
  z-index: 1;
}
