@charset "UTF-8";

/* ==================================================
*   01. Base
*       01-01. Reset
*       01-02. Default
*   02. Modules
*   02-01. Support
*   02-02. Basic Modules
*       02-02-01. Text
*       02-02-02. Heading
*       02-02-03. List
*       02-02-04. Link
*       02-02-05. Button
*       02-02-06. Box
*       02-02-07. Table
*       02-02-08. Index
*       02-02-09. Banner
*       02-02-10. Image
*       02-02-11. Form
*       02-02-12. Layout
*       02-02-13. JavaScript
*       02-02-14. Unique
*   02-03. Column adjustment
*   02-04. Margin Bottom Management
*   03. Frame
*   03-01. Structure
*       03-01-01. Header
*       03-01-02. Navigation
*       03-01-03. Main
*       03-01-04. Footer
*   03-02. Area
*   03-03. Section
*   04. Z-Index
*================================================== */

/**
 * 値から数値を返す（10px => 10）
 * @param {string} $value - 「数値＋単位」文字列
 * @return {number} - 単位を削除した数値
 * @link https://www.nxworld.net/sass-number-operations-and-functions.html
 */

/* ==================================================
    01. Base
================================================== */

/* --------------------------------------------------
    01-01. Reset
-------------------------------------------------- */
html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
}

a {
  border-width: 0;
  text-decoration: none;
}

img {
  border-width: 0;
}

address {
  font-style: normal;
  text-decoration: none;
}

/* --------------------------------------------------
    01-02. Default
-------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: #333;
  line-height: 2;
  overflow-wrap: break-word;
  position: relative;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  word-break: break-word;
  word-wrap: break-word;
}

@media (min-width: 769px) {
  body {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 1.4rem;
  }
}

header,
footer,
main,
nav,
section,
article,
aside,
figure {
  display: block;
}

iframe {
  border-width: 0;
  max-width: 100%;
}

* > h1:first-child,
* > h2:first-child,
* > h3:first-child,
* > h4:first-child,
* > h5:first-child,
* > h6:first-child {
  margin-top: 0;
}

li,
dt,
dd {
  margin-top: 3px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

th > *:first-child,
td > *:first-child {
  margin-top: 0;
}

pre {
  white-space: pre-wrap;
}

a[href],
button {
  color: #0080e2;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

a[href] img,
button img {
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

a[href]:hover,
button:hover {
  opacity: 0.5;
  text-decoration: none;
}

a[href]:hover img,
button:hover img {
  opacity: 0.5;
}

strong {
  font-weight: bold;
}

em,
b {
  font-style: normal;
  font-weight: 600;
}

img,
video {
  max-width: 100%;
}

input[type='submit'] {
  -webkit-appearance: none;
  border-radius: 0;
  border-width: 0;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

input[type='submit']:hover {
  opacity: 0.5;
}

button {
  border-width: 0;
  cursor: pointer;
  font-size: inherit;
}

button[disabled] {
  cursor: default;
}

/* ==================================================
    03. Frame
================================================== */

/* --------------------------------------------------
    03-01. Structure
-------------------------------------------------- */
.str-inner {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 90px auto 0;
  max-width: 1200px;
  width: 100%;
}

@media (min-width: 769px) {
  .str-inner {
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .str-inner {
    padding: 0 10px;
  }
}

* > .str-inner:first-child {
  margin-top: 0;
}

/* 03-01-01. Header
--------------------------------------------- */

/* 03-01-02. Navigation
--------------------------------------------- */

/* 03-01-03. Main
--------------------------------------------- */
#main-header {
  background-image: linear-gradient(110deg, #0080e2, #0ce5ff);
  color: #fff;
}

#main-header-01 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  padding: 20px 0;
}

#main-header-hdg {
  font-size: 8rem;
}

/* 03-01-03. Footer
--------------------------------------------- */

/* --------------------------------------------------
    03-02. Area
-------------------------------------------------- */

/* --------------------------------------------------
    03-03. Section
-------------------------------------------------- */

/* ==================================================
    03. Modules
================================================== */

/* --------------------------------------------------
    Heading
-------------------------------------------------- */

/* .mod-hdg-l2
--------------------------------------------- */
.mod-hdg-l2 {
  text-align: center;
}

.hdg-02-inner {
  background: linear-gradient(20deg, #0080e2, #0ce5ff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
  font-size: 5rem;
}

.hdg-02-inner::before,
.hdg-02-inner::after {
  color: rgba(255, 255, 255, 0.3);
  content: '●●●';
  font-size: 0.7em;
}

/* --------------------------------------------------
    List
-------------------------------------------------- */

/* .mod-list-history
--------------------------------------------- */
.mod-list-history {
  list-style: none;
  margin-left: 30px;
  padding-left: 0;
  position: relative;
}

.mod-list-history::before {
  border-left: 5px dotted rgba(0, 128, 226, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 2.8rem;
  width: 30px;
}

.mod-list-history > li {
  margin-top: 50px;
  padding-left: 50px;
  position: relative;
}

.mod-list-history > li::before {
  background-color: #0080e2;
  border-radius: 50%;
  content: '';
  height: 15px;
  left: 0;
  margin-left: -5px;
  position: absolute;
  top: calc(2.8rem - 7px);
  width: 15px;
}

.list-history-ttl {
  color: #0080e2;
  display: block;
  font-size: 2.8rem;
}

.list-history-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.list-history-img {
  border-radius: 50%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  width: 200px;
}

/* --------------------------------------------------
    Layout
-------------------------------------------------- */

/* .mod-lyt-skill
--------------------------------------------- */
.mod-lyt-skill {
  height: 1000px;
  position: relative;
}

.lyt-skill-list-01 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-01-item {
  background-color: rgba(0, 128, 226, 0.3);
  border-radius: 50%;
  padding-left: 0;
  position: absolute;
}

@media (min-width: 769px) {
  .lyt-skill-list-01-item {
    height: calc((100vw - 20px * 2 - 1.66667vw) / 2);
    width: calc((100vw - 20px * 2 - 1.66667vw) / 2);
  }
}

@media (min-width: 1241px) {
  .lyt-skill-list-01-item {
    height: 590px;
    width: 590px;
  }
}

.lyt-skill-list-01-item._frontend {
  left: 0;
  top: 0;
}

.lyt-skill-list-01-item._backend {
  right: 0;
  top: 0;
}

.lyt-skill-list-01-item._design {
  left: 0;
}

@media (min-width: 769px) {
  .lyt-skill-list-01-item._design {
    top: calc((100vw - 20px * 2 - 1.66667vw) / 2 + 20px);
  }
}

@media (min-width: 1241px) {
  .lyt-skill-list-01-item._design {
    left: 0;
    top: 610px;
  }
}

.lyt-skill-list-01-item._others {
  right: 0;
}

@media (min-width: 769px) {
  .lyt-skill-list-01-item._others {
    top: calc((100vw - 20px * 2 - 1.66667vw) / 2 + 20px);
  }
}

@media (min-width: 1241px) {
  .lyt-skill-list-01-item._others {
    right: 0;
    top: 610px;
  }
}

.lyt-skill-list-02 {
  list-style: none;
  padding-left: 0;
}

.lyt-skill-list-02-item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 5px solid #0080e2;
  border-radius: 50%;
  color: #0080e2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.16667vw;
  font-weight: bold;
  height: 7em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1.3;
  padding-left: 0;
  position: absolute;
  text-align: center;
  text-shadow: 2px  2px 1px #fff, -2px  2px 1px #fff, 2px -2px 1px #fff, -2px -2px 1px #fff, 2px  0 1px #fff, 0  2px 1px #fff, -2px  0 1px #fff, 0 -2px 1px #fff;
  width: 7em;
}

@media (min-width: 1241px) {
  .lyt-skill-list-02-item {
    font-size: 1.4rem;
  }
}

.lyt-skill-list-02-item._html {
  font-size: 3.5vw;
  left: 0;
  top: 5vw;
}

@media (min-width: 1241px) {
  .lyt-skill-list-02-item._html {
    left: 0;
    top: 30px;
  }
}

.lyt-skill-list-02-item._css {
  font-size: 3.5vw;
  left: 24vw;
  top: 5vw;
}

@media (min-width: 1241px) {
  .lyt-skill-list-02-item._css {
    left: 300px;
    top: 30px;
  }
}

.lyt-skill-list-02-item._js {
  font-size: 2.8vw;
  left: 14.7vw;
  top: 27vw;
}

.lyt-skill-list-02-item._react {
  left: 20vw;
  top: 27vw;
}

.lyt-skill-list-02-item._gulp {
  font-size: 2.1vw;
  right: 30%;
  top: 5vw;
}

.lyt-skill-list-02-item._svn {
  font-size: 2.1vw;
  right: 30%;
  top: 20vw;
}

.lyt-skill-list-02-item._git {
  font-size: 2.1vw;
  left: 40vw;
  top: 21em;
}

.lyt-skill-list-02-item._php {
  font-size: 2.1vw;
  right: 14em;
  top: 28em;
}

.lyt-skill-list-02-item._mysql {
  font-size: 1.51667vw;
  right: 0;
  top: 28em;
}

.lyt-skill-list-02-item._phpmyadmin {
  font-size: 1.51667vw;
  right: 14em;
  top: 35em;
}

.lyt-skill-list-02-item._composer {
  font-size: 1.51667vw;
  right: 0;
  top: 35em;
}

.lyt-skill-list-02-item._docker {
  right: 10em;
  top: 35em;
}

.lyt-skill-list-02-item._ps {
  font-size: 2.8vw;
  left: 0;
  top: 28em;
}

.lyt-skill-list-02-item._ai {
  font-size: 2.8vw;
  left: 14em;
  top: 28em;
}

.lyt-skill-list-02-item._management {
  font-size: 2.1vw;
  right: 0;
  top: 28em;
}

.lyt-skill-list-02-item._improvement {
  font-size: 2.1vw;
  right: 10vw;
  top: 28em;
}
